body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  box-sizing: border-box;
}

footer{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  height: 100px;
  width: 100%;
}

#footer-links-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.rbt-highlight-text{
  font-weight: bold;
  background-color: inherit;
  color: inherit;
  padding: 0;
}